.my-container{
    background-color: #39A5F1;
}

.bounds {
    height: 800px;
}


.logo img {
    width: 198px;
    height: 49px;
    margin-top: 61px;
}
 

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.form-input {
    border-style: solid;
    border-color: rgba(46,46,46,0.10);
    border-block-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
  
.mat-checkbox mat-accent 
.mat-checkbox-checked {
    background-color: aqua !important;
}