.my-container{
    background-color: #39A5F1;
}

.bounds {
    height: 600px;
}


.logo img {
    width: 198px;
    height: 49px;
    margin-top: 61px;
}
 

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }