<div class="my-container">
    <div class="bounds">
        <div class = "content"
        fxLayout = "column"
        fxFlexFill>
            <div fxFlex="10" ></div>
            <div fxFlexFill fxFlex="60"></div>
                <div fxFlex="10" fxLayoutAlign="space-around center" style = "font-size: 35px; color: white;"> Login </div>
                <div fxFlex="90" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="40px" style = " background-color: white; width: 80%;"> 
                    <div class = "logo" ><img src = "../../assets/avion-logo.png"> </div>                   
                    <form [formGroup]="loginForm" class="example-form">
                        <div class = "form-input">                            
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username"
                            formControlName="username">
                            <mat-hint>Please enter your name.</mat-hint>
                            <mat-error>Missing username.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class = "form-input">                            
                            <mat-form-field class="example-full-width">
                            <input matInput 
                            type="password"
                            placeholder="Password"
                            formControlName="password">
                            <mat-hint>Please enter your password.</mat-hint>
                            <mat-error>Missing password.</mat-error>
                            </mat-form-field>
                        </div>
                            
                        <div class = "form-input" style = "border-style: none"> 
                            <mat-checkbox>Remember Login</mat-checkbox>
                        </div>

                        <div class = "form-input" style = "border-style: none">
                         
                            <button mat-raised-button  style = " width: 100%; background-color: #39A5F1; color: white; text-transform: uppercase; height: 68px;">Primary</button>
                       
                        </div>
                            
                    </form>     
                </div>
            </div>
            <div fxFlex="30" ></div>           
        </div>
    </div>    
</div>

<!-- fxFlex.xs="55" -->

